# Configurações de URLs do Scraper (Preencha com as URLs de destino)
BASE_URL=https://exemplo.com.br
SEARCH_URL=https://exemplo.com.br/busca

URL=https://exemplodadosdeapi.com.br/data

# Configura a conexão com o PostgreSQL
DB_USER = "postgres"
DB_PASS = "senha"
DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "nome_dataset"

# Configura a conexão com BigQuery
GOOGLE_APPLICATION_CREDENTIALS=credentials.json

BIGQUERY_PROJECT_ID=nome-do-projeto-gcp
BIGQUERY_DATASET=nome_dataset