# Ambientes virtuais
.venv/

# Variaveis de ambiente
.env

__pycache__/

# Arquivos JSON da extração
veiculos_*.json

# Arquivos PARQUET da camada silver e gold
veiculos_*.parquet
dim_*.parquet
fato_*.parquet
kpi_*.parquet

# Credencial de Google Cloud
credentialsmovida.json

teste_*.pdf

__init__.py

logs/